extends ../template

block variables
    - var title = 'Обо мне'

block content
    include ../common/hero.pug
    section.section.about
        .about__left
            .about_triangle-left
                svg.triangle-left.triangle-fiil-gray(xmlns="http://www.w3.org/2000/svg", width="100%", preserveAspectRatio="none", viewbox="0 0 500 85")
                        polygon(points='0,0   0,86   500.8,86   500.8,75.5') 
                     
       
            .about__left-title
                .section__title.block-title About me
            .about__left-content
                .user-description
                    .user-description__pic
                        img(src='assets/images/pic/user_ava.jpg').user-description__avatar
                    .user-desription__text
                        .section__title.block-subtitle Who I am
                        .admin_text-block
                            p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                            p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                        
        .about__right 
            .about_triangle-right
                svg.triangle-right.triangle-fiil-gray(xmlns="http://www.w3.org/2000/svg", width="100%", preserveAspectRatio="none", viewbox="500 0 500 85")
                            polygon(points='1000,0   1000,86   500,86   500,75.5')
            .section__title.block-subtitle What I can offer for you
            .about__right-description.admin_text-block 
                p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about__right-content
            mixin skillSet(area, skill)
                li.
                ul.skills-list 
                    each item in ['Frontend', 'Backend', 'Workflow']
                        li.skills-list__item
                            .skills-row__title #{item}
                            ul.skills-row__list
                                each skill in ['Html5', 'css3', 'JavaScript']
                                    li.skills-row__item
                                        
                                        svg.skill__circle
                                        .skill__title #{skill}
    include ../common/footer.pug

    