extends ../template

block variables
    - var title = 'Мои работы'

block content
    include ../common/hero.pug
    section.section.my_works
        .my_works__title             
            .section__title Мои работы 
        .my_works__left
            .project
                .section__title.project_title Сайт школы онлайн Образования
                .project__technologes HTML, CSS, JavaScript
                .site_btn
                    a(href=0).site_link.site_link-round Посмотреть сайт
        .my_works__right_up
            img(id = 'big_page' src='assets/images/pic/1th_site.png').pages_pic
         
        .my_works__right_down
            .slider.slider__left
                ul.slider__list.slider__list-left
                   each item in ['3','2', '1','4'] 
                        li.pages_pic.pages_pic-slider
                            img(src='assets/images/pic/' + item + 'th_site.png')
                button.slider__arrow.slider__arrow_left
                    img(src='assets/images/icons/portf_arrow_down.svg')

            .slider.slider__right
                ul.slider__list.slider__list-right
                    each item in ['2', '3', '4', '1'] 
                            li.pages_pic.pages_pic-slider
                                img(src='assets/images/pic/' + item + 'th_site.png')
                button.slider__arrow.slider__arrow_right
                    img(src='assets/images/icons/portf_arrow_up.svg')

    section.section.review
        img(src='assets/images/pic/review_bg.png').review_img
        img(src='assets/images/pic/list1.png').review-list1_img
        img(src='assets/images/pic/list2.png').review-list2_img
        img(src='assets/images/pic/list3.png').review-list3_img
        .section__title.section__title-review Others about me
        - var text1 = "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!"
        - var text2 = "Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!"
        
        mixin review(avatar, review_text, person, position)
            li.review_item
                img(src=avatar).review_item__img
                p.review_item__text=review_text
                .review_item__person.name=person 
                .review_item__person.position=position

        
        ul.review__review_area
            +review('assets/images/pic/review_ava1.png', text1, 'Ковальчук Дмитрий', ' — основатель Loftschool')
            +review('assets/images/pic/review_ava2.png', text2, 'Сабанцев Владимир', ' — преподаватель')

        
        form(action = 'mail.php' method = 'post' class= 'review__form' id = 'review__contact_form')
            .contact_form
                .field_area
                    .section__title.form_title Contact me
                    .contact_form__fields
                            input(class='contact_form__input' id='name' data-error = 'fill field' name='name' type='text' placeholder='Name')
                    .contact_form__fields
                            input(class='contact_form__input' id='e-mail' data-error = 'fill field' name='e-mail' type = 'email' placeholder='Email')
                    .contact_form__fields
                            textarea(class='contact_form__textarea' id='message' data-error = 'fill field' name='message' type='text' rows='3' placeholder='Your message')
                .button__block
                    .button_list
                        button(class = 'button_list__item form__button-send' name = '' type = 'submit' value = 'send') Send
                        button(class ='button_list__item form__button-clear' name = '' type = 'reset', value = 'clear') Clear    
        include ../common/footer.pug
