.my_works {
    height: 110vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 16% 60% 24%;
    grid-template-areas: 
      "title title"  
      "info display"
      "info btns";
  
    @include tablets {
      min-height: 150vh;
      grid-template-columns: 100%;
    //  grid-template-rows: 12% 55% 13% 20%;
      grid-template-rows: 8% 49% 25% 17%;
      grid-template-areas: 
        "title"
        "display"
        "info"
        "btns";
    }
    @include phones {
      min-height: 150vh;
      grid-template-columns: 100%;
    //  grid-template-rows: 12% 55% 13% 20%;
      grid-template-rows: 9% 35% 27% 29%;
      grid-template-areas: 
        "title"
        "display"
        "info"
        "btns";
    }
  }  
  .my_works__title {
    position: relative;
  //  background: #F0EFE9;
    background: #ebefe2;
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablets() {   
    //  background: #e1e4d7;
      justify-content: flex-end
    }
  } 
  
  .my_works__left {
    background: #ebefe2;
    grid-area: info;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablets() {   
      background: #e1e4d7;
    }
   }

  .project {
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
  }

  .project_title {
    color: #566358;
//    opacity: 0;
    font-size: rem(25px);
    line-height: rem(35px);
  }

  .project__technologes{
    color: #4e8839;
    @include roboto (medium, normal);
 //   font-family: Roboto;
    font-size: rem(14px);
  //  font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 14%;
    padding-top: 10%;
    @include tablets() {   
      padding-bottom: 10%;
      padding-top: 2%;
    }
  }

  .site_link-round{    
  border-radius: rem(35px);
  &:before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    @include circle(5px, #fff);
    margin: 0 rem(12px);
  }
}

  .my_works__right_up {
    background: #e1e4d7;
    grid-area: display;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablets() {   
      background: #ebefe2;
    }
  //  max-height: 395px;
  }

  .pages_pic{
    width: 100%;
    display: flex;
    align-items: center;
    &.pages_pic-slider{
      height: 100%;
      z-index: -1;
    }
  }
  
  .my_works__right_down {
    grid-area: btns;
    display: flex;
  //  width: 100%;
    flex-direction: row;

  }

  .slider{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
   // height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    overflow: hidden;    
    &.slider__left{
      background: rgba(147, 153, 141, 0.7);
    }
    &.slider__right{
    background: rgba(176, 183, 170, 0.7);
    }
  }

  .slider__list{
    position: absolute;     
    left: 0; 
    height: 100%;
    max-width: 100%;
    list-style: none;
    padding: 0;
    z-index: -1;
    &.slider__list-right{
      top: 0;
    }
    &.slider__list-left{
      top: - 300%;
    }
  }


  .slider__arrow_left, .slider__arrow_right{
    position: absolute;
  //  padding: rem(20px);
    top: 0;
    bottom: 0;
    width: 100%;
    cursor: pointer;
  }

  